{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-jsdoc"],
  "tsdoc": true,
  "jsdocSeparateReturnsFromParam": true,
  "jsdocSeparateTagGroups": true,
  "jsdocSpaces": 1
}
